.navbar {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

p {
  font-size: large;
  padding: 10px;
  cursor: pointer;
}
a {
  font-size: 1.5em;
}
ul {
  list-style: none;
}
table {
  width: 100%;
}
td {
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  width: 50%;
}
